a.active {
    --tw-text-opacity: 1 !important;
    color: rgb(96 165 250 / var(--tw-text-opacity)) !important;
    --tw-border-opacity: 1 !important;
    border-color: rgb(96 165 250 / var(--tw-border-opacity)) !important;
}