<!-- <div *ngIf="isLoggedCheck">
  <button *ngIf="!accounts.length" (click)="loginMagic()">LOGIN</button>

  <ng-container *ngIf="accounts.length">

    <span>Logged Wallet: {{accounts[0]}}</span>
    <br>
    <button (click)="logoutMagic()">LOGOUT</button>

    <span>Message to sign</span>
    <input [(ngModel)]="messageToSign">
    <button (click)="signMessage()">SIGN</button>

    <button (click)="showBalance()">Balance</button>
    <ng-container *ngIf="signature">
      <qrcode [qrdata]="signature" [width]="256" [errorCorrectionLevel]="'M'" (qrCodeURL)="geturlQRForSign($event)">
      </qrcode>
      <a [href]="urlQRSignature" download="qrcode">
        <button>Download QR</button>
      </a>
    </ng-container>
    <br>
    <input [(ngModel)]="receiverAddress" placeholder="receiverAddress">
    <input [(ngModel)]="bnbAmount" placeholder="bnb Amount" type="number">
    <button (click)="sendBnB()">SendBNB</button>
    <br>
    <input [(ngModel)]="company" placeholder="Company">
    <input [(ngModel)]="codicePorceddu" placeholder="Codice Porceddu">
    <input [(ngModel)]="peso" placeholder="peso">
    <button (click)="sendPorceddu()">Send Porceddu</button>
    <br>
    <ng-container *ngIf="txLink">
      <a [href]="txLink" target="_blank">
        <qrcode [qrdata]="txLink" [width]="256" [errorCorrectionLevel]="'M'" (qrCodeURL)="geturlQRForTx($event)">
        </qrcode>
      </a>
      <a [href]="urlQRTx" download="qrcode">
        <button>Download QR</button>
      </a>
    </ng-container>
  </ng-container>
</div> -->
<app-spinner></app-spinner>
<router-outlet></router-outlet>